.main {
  background-color: #f1f3f4;
  padding: 0 50px;
}

.side {
  padding: 0 50px;
  margin-top: 20px;
}

li {
  text-decoration: none;
  list-style: none;
  text-align: left;
  padding: 0;
}
ol,
ul {
  padding-left: 0 !important;
}

.nav_bar {
  font-size: 20px;
  margin-right: 70px;
  text-decoration: none;
  color: #000;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
  justify-content: space-between;
  margin-top: 50px;
}

.flex-left {
  flex: 20%;
}

.flex-right {
  flex: 80%;
}

.grid {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
  grid-gap: 45px;
}

.bt {
  outline: none !important;
  border: none !important;
  padding: 0;
  margin-right: 15px;
  font-weight: 400;
}

.tophead {
  margin: 20px 0;
  text-align: center;
}

.img {
  height: 100%;
  width: 100%;
}
.img__wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(26, 26, 27, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.img__description {
  transition: 0.2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}
